<body>
  <div>
    <p class="detail_title">
      {{this.recipeService.chRecipe.name}}
    </p>
    <p class="detail_difficulty">
      Difficulty: {{this.recipeService.chRecipe.difficulty}}
    </p>
    <img class="detail_image" [src]="this.recipeService.chRecipe.imageURL" />
    <p class="detail_description">
      Description: <br> {{this.recipeService.chRecipe.description}}
    </p>
    
    <footer>
      <button id="back" [routerLink]="['/Recipes']">Back</button>
    <div *ngIf="recipeService.chRecipe.checkID == recipeService.chRecipe.userID">
      
        
        <button id="delete" (click)="deleteBtn()">Delete Recipe</button>
      
      
      </div>
    </footer>
    
      
  </div>
</body>