body #backgroundos{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}

/* body {
    padding-left: 30px;
} */




.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.edit_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(41, 41, 41);
  border-radius: 0px 0px 10px 10px;
  padding: 50px;
}

.edit_btn {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail_title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  color: white;

}



mat-card-title {
  font-size: 25px;
}

mat-card-actions {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* mat-card-subtitle {
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.detail_description {
    font-size: 20px;
    line-height: 1.5;
}

.detail_difficulty {
    font-size: 33px;
    padding-bottom: 20px;
}

#radio_up:checked + #thumb_up{
    color: green;
}

#radio_up {
  position: absolute;
  width: 22px;
  height: 22px;
  z-index: 2;
  opacity: 0;
}

#thumb_up {
  position: relative;
}

#radio_down:checked + #thumb_down{
  color: red;
}

#radio_down {
  position: absolute;
  width: 22px;
  margin-left: 37px;
  height: 22px;
  z-index: 2;
  opacity: 0;
}

#thumb_down {
  position: absolute;
  margin-left: 37px;
}


.detail_image {
  display: flex;
  display: block; /* Ensure it behaves as a block element */
  margin: auto;

  max-width: 450px;
  max-height: 310px;
  width: auto; /* Automatically adjust the width to maintain aspect ratio */
  height: auto;


}

mat-card-footer #back {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    height: 60px;
    transition: .2s all ease-in-out;
  }

  mat-card-footer #back:hover {
    background: #171A2B;
    color: white;

  }

  mat-card-footer #delete {
    background: #807182;
    border: 1px solid transparent;
    width: 10%;
    height: 60px;
    color: #fff;
  }

  mat-card-footer #delete:hover {
    background: #171A2B;
  }

  .edit_form {
    justify-content: center;
    align-items: center;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

h1 {
  text-align: center;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid silver;
  /*background-color: rgb(232, 0, 0);*/
  background-color: darkgoldenrod;
  color: white;
  padding-top: 15px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: unset;
}

mat-card {
  width: 70%;
  max-width: 70%; /* Optional, can be adjusted based on design needs */
  overflow-wrap: break-word; /* Ensures text wraps within the card */
  word-wrap: break-word; /* Fallback for older browsers */
  word-break: break-word; /* Additional support for word breaking */
  margin: auto; /* Center the card horizontally */
}
