<body>
  <img id="backgroundos" src="../../assets/backgroundos_recipes.png">
  <div *ngIf="clicked == true; else noCourses">
        
    <form class="edit_form" [formGroup]="profileForm" style="color: aliceblue;">
      
      <label for="name" >Name: </label>
      <input id="name" type="text" formControlName="name" value="name">
      <br>

      <label for="ingrediencie">ingredients: </label>
      <input id="ingrediencie" type="text" formControlName="ingrediencie" value="ingrediencie">
      <br>
      <label for="postup">postup: </label>
      <input id="postup" type="text" formControlName="postup" value="postup">
      <br>
      <label for="imgURL">image URL: </label>
      <input id="imgURL" type="text" formControlName="imgURL" value="imgURL">
    <br>
    <label for="cas">cas: </label>
      <input id="cas" type="text" formControlName="cas" value="cas">
    </form>
    <div class="edit_btn">
      <button (click)="submit()" style="width: 100px; height: 50px; ">Submit</button>
    </div>
    
  </div>

  <ng-template #noCourses>
    
  
  <div>
    <p class="detail_title">
      {{this.recipeService.chRecipe.name}}
    </p>
    <!-- <p class="detail_difficulty">
      Difficulty: {{this.recipeService.chRecipe.difficulty}}
    </p> -->
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>time: {{this.recipeService.chRecipe.cas}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <mat-card-subtitle>Difficulty: {{this.recipeService.chRecipe.difficulty}}</mat-card-subtitle>
        <mat-card-title>Rate this recipe</mat-card-title>
      </mat-card-header>

      <!-- <mat-card-actions>
        <input type="radio" name="rating" value="1" id="radio_up">
        <mat-icon id="thumb_up">thumb_up</mat-icon>
        <input type="radio" name="rating" value="2" id="radio_down">
        <mat-icon id="thumb_down">thumb_down</mat-icon>
      </mat-card-actions> -->
      <div *ngIf="recipeService.chRecipe.checkID == recipeService.chRecipe.userID">
        <button mat-raised-button id="Edit" type="submit" name="editBtn" value="enter" (click)="edit()">Edit Recipe</button>
      </div>
      
      <img class="detail_image" [src]="this.recipeService.chRecipe.imageURL" />
      <p class="detail_description">
        ingredients: <br> {{this.recipeService.chRecipe.ingrediencie}}
      </p>
      <p class="detail_description">
        Description: <br> {{this.recipeService.chRecipe.postup}}
      </p>

      <mat-card-footer>
        <button id="back" [routerLink]="['/Recipes']">Back</button>
        <div *ngIf="recipeService.chRecipe.checkID == recipeService.chRecipe.userID">
      
        
        <button id="delete" (click)="deleteBtn()">Delete Recipe</button>
      
      
      </div>
      </mat-card-footer>
    </mat-card>
    
      
  </div>
</ng-template>
</body>