<body>


  <h1 mat-dialog-title>Hi {{this.user().userName}}</h1>
  <div mat-dialog-content>
    <p>Do you want to change your profile picture?</p>
  </div>
  <div mat-dialog-actions class="form-group" >
      <input *ngIf="this.user().pictureURL" type="button" value="Change your profile picture" (click)="deleteImage()" style="color: white; cursor: pointer; background: rgb(41,41,41); padding: 10px; border-radius: 10px">
    <label for="img" *ngIf="!this.user().pictureURL" class="input-for-img" style="color: white; cursor: pointer; background: rgb(41,41,41); padding: 10px; border-radius: 10px">Vložiť obrázky</label>
      <input id="img" *ngIf="!this.user().pictureURL" type="file" (change)="onImageUpload($event)" style="display: none;">
  </div>
  <div mat-dialog-content>
    <p></p>
  </div>
  <div mat-dialog-actions class="decide_btn">
    <button id="cancel" mat-raised-button  (click)="onNoClick()">Cancel</button>
    <button id="save" mat-raised-button mat-dialog-close (click)="imageUploadAction()" cdkFocusInitial>Save</button>
  </div>
</body>
<!-- *ngIf="!this.user().pictureURL && !imageUploaded" -->
