
  <h1 mat-dialog-title>Hi {{this.user().userName}}</h1>
  <div mat-dialog-content>
    <p>Do you want to change your profile picture?</p>
  </div>
  <div mat-dialog-actions class="form-group" >
      <input *ngIf="this.user().pictureURL" type="button" value="Change your profile picture" (click)="deleteImage()">
      <input *ngIf="!this.user().pictureURL" type="file" (change)="onImageUpload($event)">
  </div>
  <div mat-dialog-content>
    <p></p>
  </div>
  <div mat-dialog-actions class="decide_btn">
    <button id="cancel" mat-raised-button  (click)="onNoClick()">Cancel</button>
    <button id="save" mat-raised-button mat-dialog-close (click)="imageUploadAction()" cdkFocusInitial>Save</button>
  </div>

<!-- *ngIf="!this.user().pictureURL && !imageUploaded" -->