.recipes-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.profile_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#add_picture {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: transparent;
  width: 8%;
  height: 50px;
  transition: .2s all ease-in-out;
}

#add_picture:hover {
  background: #171A2B;
  color: white;
  
}

#delete {
  background: #807182;
  border: 1px solid transparent;
  width: 8%;
  height: 50px;
  color: #fff;
}

#delete:hover {
  background: #171A2B;
}

.recipes-items {
    width: 350px;
    background-color:white;
    border-radius: 10px;
    border-width: 10px;
    border-color: white;
    margin: 10px 10px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; */
    border: transparent;
}

.recipes-items:hover {
    border: #efefef 2px solid;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.00);
    cursor: pointer;
}

.recipes-images {
    width: 350px;
    height:290px;
    padding-top: 5px;
}

.recipes-name, .recipes-difficulty {
  color: black;
}

#favourite {
    position: relative;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0;
  }
  
  #like-false {
    position: absolute;
    left: 0;
    margin-left: 8px;
  }

  #like-true {
    position: absolute;
    left: 0;
    margin-left: 8px;
    color: red;
  }

  h2 {
    padding-top: 15px;
  }
  
  /* #favourite:checked + #like {
    color: red;
    transition: 0.2s;
  } */