body #backgroundos{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}

h1, h2, h3 {
  color: darkgoldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.user_name {
  position: absolute;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
}

.obsah {
  margin-left: 15px;
}


#your_img {
  border:6px solid rgb(93, 93, 93);
}

.recipes-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.profile_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#add_picture {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: transparent;
  width: 8%;
  height: 50px;
  transition: .2s all ease-in-out;
}

#add_picture:hover {
  background: #171A2B;
  color: white;

}

#delete {
  background: #807182;
  border: 1px solid transparent;
  width: 8%;
  height: 50px;
  color: #fff;
}

#delete:hover {
  background: #171A2B;
}

/* .recipes-items {
    width: 350px;
    background-color:rgb(63, 63, 63);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(63, 63, 63);
    color: white;
    margin: 10px 10px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: transparent;
}

.recipes-items mat-card-title, .recipes-items mat-card-subtitle {
  color: white;
}

#avatar {
  border:3px solid rgb(190, 190, 190);
}

.recipes-items:hover {
    border: #efefef 2px solid;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.00);
    cursor: pointer;
}

.recipes-images {
    width: 350px;
    height:290px;
    padding-top: 5px;
}

.recipes-name, .recipes-difficulty {
  color: black;
} */


.recipes-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  overflow: hidden;
}

.recipes-items {
  width: 350px;
  background-color:rgb(41,41,41);
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(41,41,41);
  color: white;
  margin: 10px 10px;
  /* padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; */
  border: transparent;
  transition: transform 0.3s;
}

.recipes-items mat-card-subtitle {
color: white;
margin-bottom: 2px;
}

.recipes-items mat-card-title {
color: white;
font-style: italic;
margin-bottom: 5px;
}

#avatar {
border:3px solid rgb(190, 190, 190);
}

.recipes-items:hover {

  box-shadow: 0 8px 12px 0 #474747;
  cursor: pointer;
  transform: scale(1.03);
  transform-origin: center;
}

.recipes-images {
  width: 350px;
  height:290px;
  padding-top: 5px;
}

/* .recipes-name, .recipes-difficulty {
color: black;
} */

.recipes-difficulty mat-icon {
font-size: 20px;
}

#favourite {
    position: relative;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0;
  }

  /* #like-false {
    position: absolute;
    left: 0;
    margin-left: 8px;
  }

  #like-true {
    position: absolute;
    left: 0;
    margin-left: 8px;
    color: red;
  } */

  h2 {
    padding-top: 15px;
  }

  #like {
    position: absolute;
    left: 0;
    margin-left: 8px;
  }

  #like_of_favourite {
    position: absolute;
    left: 0;
    margin-left: 8px;
    color: red;
  }

  #favourite:checked + #like {
    color: red;
    transition: 0.2s;
  }


  @media screen and (max-width: 1300px) {
    .user_name {
      font-size: 40px;
    }

    h1 {
      font-size: 20px;
    }

    .profile_img {
      width: 200px;
      height: 200px;
    }
  }