<body>


  <img id="backgroundos" src="../../assets/backgroundos_recipes.png">
<h1>Profile</h1>
<h3>Your name: {{this.user().userName}}</h3>
<h2>Your profile picture</h2>
<img id="your_img" *ngIf="this.user().pictureURL" [src]="getImageSrc(this.user().pictureURL)" alt="User Picture" class="profile_img" matTooltip="Your profile picture">

<img class="profile_img" *ngIf="!this.user().pictureURL" src="../../assets/Whithout_profile_picture.jpg">
<!-- <div>{{this.user().userProfilePicture}}</div> -->

<!-- <input id="delete" *ngIf="this.user().pictureURL" type="button" value="Delete profile picture" (click)="deleteImage()"> -->
<!-- <img [src]="this.liveDemo" class="profile_img"/> -->


<button  mat-raised-button (click)="openDialog()" matTooltip="Edit your profile"><mat-icon>create</mat-icon>Edit</button>
<!-- *ngIf="!this.user().pictureURL && !imageUploaded" -->

<h2>Your recipes</h2>
<div class="recipes-container">
    <mat-card class="recipes-items" *ngFor="let ourRecipe of ourListOfRecipes()">
      <mat-card-header>
        <img id="avatar" mat-card-avatar class="example-header-image" [src]="getImageSrc(this.user().pictureURL)" matTooltip="Creator">
        <mat-card-title class="recipes-name">{{ourRecipe.name}}</mat-card-title>
        <mat-card-subtitle class="recipes-difficulty">{{ourRecipe.difficulty}}</mat-card-subtitle>
      </mat-card-header>
  
        <img mat-card-image [src]="ourRecipe.imageURL" class="recipes-images" matTooltip="Details of {{ourRecipe.name}}" [routerLink]="['/RecipesDetails', ourRecipe.id]"/>
      
        <mat-card-footer>
          <input id="favourite" type="checkbox">
          <mat-icon id="like">favorite</mat-icon>
        </mat-card-footer>
      
    </mat-card>
  </div>

<h2>My Favourite Recipes</h2>
<div class="recipes-container">
  <mat-card class="recipes-items" *ngFor="let oursFavRecipe of ourFavRecipes()">
    <mat-card-header>
      <img id="avatar" mat-card-avatar class="example-header-image" [src]="getImageSrc(this.user().pictureURL)" matTooltip="Creator">
      <mat-card-title class="recipes-name">{{oursFavRecipe.name}}</mat-card-title>
      <mat-card-subtitle class="recipes-difficulty">{{oursFavRecipe.difficulty}}</mat-card-subtitle>
    </mat-card-header>
    
      <img mat-card-image [src]="oursFavRecipe.imageURL" class="recipes-images" [routerLink]="['/RecipesDetails', oursFavRecipe.id]"/>
      
      <mat-card-footer>
        <input id="favourite" type="checkbox" value="true">
        <mat-icon id="like-false">favorite</mat-icon>
        <mat-icon id="like-true">favorite</mat-icon>
      </mat-card-footer>
    
  </mat-card>
</div>
</body>