div {
  z-index: 2;
}
mat-toolbar {
  background-color: transparent;
  color: black;
  font-size: 30px;
  font-family: Brush Script MT, Brush Script Std, cursive;

  button {
    margin-left: auto;
  }
}

span {
  cursor: pointer;
}

button {
  color: black;
}

.spacer {

  flex: 2 2 auto;
}

#white {
  color: black;
  font-weight: bold;
}

/* #white:hover {
  color: red;
  text-decoration: underline;
} */

#white.active {
  color: darkgoldenrod;
}

#white:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: darkgoldenrod;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#white:hover:after {
  width: 100%;
  left: 0;
  color: darkgoldenrod;
}

img {
  width: 85px;
  height: 64px;
  display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.checkbtn {
  visibility: visible;
 }

 #check {
  visibility: hidden;
  
 }

 

 @media only screen and (max-width: 992px) {
  .nav-mobile {
    display: none;
   }
  
   #check:checked ~ .nav-mobile {
    display: flex;
  flex-direction: column;
  padding-top: 200px;
  margin-right: 20px;
    background-color: black;
    
   }

   .checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    visibility: visible;
   }

   #check {
    visibility: visible;
    position: fixed;
    right: 0;
    margin-right: 10px;
   }

   
   img {
    width: 45px;
    height: 38px;
    display: block;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
      cursor: pointer;
  }
}
