div {
  z-index: 2;
}
mat-toolbar {
  background-color: transparent;
  color: white;

  button {
    margin-left: auto;
  }
}

button {
  color: white;
}

.spacer {
  
  flex: 2 2 auto;
}

#white {
  color: white;
}

#white:hover {
  color: red;
}

img {
  width: 85px;
  height: 64px;
  display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.center {
  display: flex;
  justify-content: center;
}