<div>
  <mat-toolbar>
    <div class="center">
      <img [routerLink]="['/Homepage']" src="../../assets/Our_New_Logo.png">
    </div>
    <span [routerLink]="['/Homepage']">TOP RECIPES</span>


  <span class="spacer"></span>
  @if (authService.authenticated()) {
    <button id="white" mat-button (click)="logout()">Logout</button>
    <button id="white" mat-button [routerLink]="['/Homepage']" [ngClass]="{'active': isActive('/Homepage')}">Home</button>
    <button id="white" mat-button [routerLink]="['/Recipes']" [ngClass]="{'active': isActive('/Recipes')}">Recipes</button>
    <button id="white" mat-button [routerLink]="['/CreateRecipe']" [ngClass]="{'active': isActive('/CreateRecipe')}">Create Recipe</button>
    <button id="white" mat-button [routerLink]="['/userProfile']" [ngClass]="{'active': isActive('/userProfile')}"><mat-icon>account_circle</mat-icon></button>
  } @else {
    <button id="white" mat-button [routerLink]="['/login']">Login</button>
    <button id="white" mat-button [routerLink]="['/register']">Registration</button>
  }

</mat-toolbar>
</div>

