<div>
  <mat-toolbar>
    <div class="center">
      <img src="https://dcassetcdn.com/design_img/10150/1680/1680_298517_10150_image.jpg">
    </div>
    <span>TOP RECIPES</span>
    
    
  <span class="spacer"></span>
  @if (authService.authenticated()) {
    <button id="white" mat-button (click)="logout()">Logout</button>
    <button id="white" mat-button [routerLink]="['/Recipes']">Recipes</button>
    <button id="white" mat-button [routerLink]="['/CreateRecipe']">Create Recipe</button>
    <button id="white" mat-button [routerLink]="['/userProfile']"><mat-icon>account_circle</mat-icon></button>
  } @else {
    <button id="white" mat-button [routerLink]="['/login']">Login</button>
    <button id="white" mat-button [routerLink]="['/register']">Registration</button>
  }
  
</mat-toolbar>
</div>

