<body>
  <img id="backgroundos" src="../../assets/white_bgd.png">

  <div class="container">
        <form [formGroup]="profileForm">
          <header>
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold; width: 100%;">Create your recipe</h1>
            <div class="form-container">
              <div class="column">
          <div class="set">
            <mat-form-field class="Name_rcp">
                  <mat-label class="centered-label" for="name">Name of recipe: </mat-label>
                  <input matInput id="name" formControlName="name">
            </mat-form-field>
          </div>

          <div class="set">
            <mat-form-field class="Description_rcp">
                  <mat-label class="centered-label" for="description">Recipe description: </mat-label>
                  <textarea matInput id="description" formControlName="description"></textarea>
            </mat-form-field>
          </div>

          <div class="example-container">
            <h2 style="color: darkgoldenrod; font-size: 25px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Chosen ingedients</h2>
          
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="vybrane"
              [cdkDropListConnectedTo]="[todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              @for (item of vybrane; track item) {
                <div class="example-box" cdkDrag>{{item}}</div>
              }
            </div>
          </div>

          <div class="set">
            <mat-card class="example-result-card">
              <mat-card-content>
                <div class="example-label-container">
                  <label for="cas" id="example-name-label" class="example-name-label">Time: </label>
                  <label class="example-value-label">{{slider.value}}</label>
                  <label for="cas"> min</label>
                </div>
                <mat-slider
                    class="example-margin"
                    [disabled]="disabled"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [discrete]="thumbLabel"
                    [showTickMarks]="showTicks"
                    >
                  <input id="cas" formControlName="cas" matSliderThumb [(ngModel)]="value" #slider>
                </mat-slider>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
          <div class="column">
            <div class="set">
              <label id="ch_diff" style="color: darkgoldenrod; font-size: 25px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Choose a difficulty:</label> 
              <br>
              <br>
              <div class="diff_radio">
                <p>
                    <input id="diff" type="radio" formControlName="diff" value="Easy" [checked]="true">
                    <label id="diff_1" for="diff">Easy</label>

                    <input id="diff2" type="radio" formControlName="diff" value="Medium">
                    <label for="diff2">Medium</label>

                    <input id="diff3" type="radio" formControlName="diff" value="Hard">
                    <label for="diff3">Hard</label>
                </p>
            </div>
          </div>
            <br>
            <br>
          <div class="set">
            <label id="veganske" style="color: darkgoldenrod; font-size: 25px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Special category</label> 
            <br>
            <br>
            <div class="diff_radio">
              <p>
                  <input id="jVeganske" type="checkbox" formControlName="veganske" [value]="true">
                  <label for="jVeganske">vegan</label>

                  <input id="jVegetarianske" type="checkbox" formControlName="vegetarianske" [value]="true">
                  <label for="jVegetarianske">vegetarian</label>

                  <input id="jnizkoKaloricke" type="checkbox" formControlName="nizkoKaloricke" [value]="true">
                  <label for="jnizkoKaloricke">Low calorie</label>
                </p>
            </div>
          </div>
         
          <br>
          <br>
          <label for="img" class="beautyBtn">Add an image</label>
          <input
            id="img"
            class="form-control"
            type="file"
            style="
              box-shadow: 7px 7px 17px;
              border-width: 0;
              margin-bottom: 43px;
              display: none;
            "
            (change)="onImageUpload($event)"
            accept="image/*"
            title = "Žiadne fotografie nie sú vložené"
          />
            <br>
          <br><br>

            <img [src]="this.liveDemo"  alt=""/>
        </div>

        </div>


      </header>

      <button mat-raised-button id="make" type="submit" [disabled]="!profileForm.valid"  (click)="imageUploadAction()">Create</button>
      <button mat-raised-button id="back" [routerLink]="['/Recipes']">Back</button>
            <br>
        </form>
  <div class="bothOfThem">
        <div class="example-container">
          <h2 style="color: darkgoldenrod; font-size: 25px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Ingredients:</h2>

          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="ingredients"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
             <input type="text" [(ngModel)]="searchTerm" placeholder="Find an ingredience" class="findInput"/>
                <div *ngFor="let item of ingredients | ingredientsFilter : searchTerm">
                  <div class="example-box" cdkDrag>{{item}}</div>
                </div>
          </div>
          <br>
          <br>
          <button class="beautyBtn" (click)="openDialogis()" (childEmitter)="getDataFromChild($event)">Add ingrediences</button>
        </div>

        
        

        <div class="formaNaPostup">
          <h2 style="color: darkgoldenrod; font-size: 25px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Napíš svoj postup</h2>
          <form [formGroup]="postupForm" class="postupForm">
            <div formArrayName="postupy" *ngFor="let postup of postupy.controls; let i = index">
              <input class="postupBlock" type="text" [formControlName]="i" placeholder="Postup">
            </div>
            <!-- <button  class="beautyBtn" (click)="pridajPostup()">Pridať postup</button> -->
            <label (click)="pridajPostup()" class="beautyBtn">Add an image</label>
          </form>
      </div>
  </div>
      <br>
  </div>
</body>
