img {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tabulka {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  background: white;
  opacity: 80%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid silver;
}

.diff_radio {
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.diff_radio label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 120px;
}
.diff_radio input[type="radio"] {
    display: none;
}
.diff_radio input[type="radio"]:checked + label {
    background: #F7B1AB;
    border: 1px solid rgba(0,0,0,.1);
}

/* .formy p {
  padding-left: 40px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

  .formy p label {
    position: absolute;
    padding-left: 40px;
    padding-bottom: 10px;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 21px;
    pointer-events: none;
  }

  .formy p input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }

  .formy p span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transition: .5s;
  } */

  .formy p input:focus ~ label,
  .formy p input:valid ~ label {
    top: -1px;
    color: black;
  }

  .formy p input:focus ~ span::before,
  .formy p input:valid ~ span::before {
    width: 100%;
  }

.formy button {
  width: 85%;
  margin: 30px auto; /* Pridané */
  display: block; /* Pridané */
  height: 50px;
  border: 1px solid;
  background: black;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  transition: width 0.5s;
}

  .formy button:hover {
    width: 89%;
  }

.formy input:hover {
  border-color: #2691d9;
  transition: .5s;
}