* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}


body #backgroundos{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}



/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */



textarea {
  white-space: pre-wrap;
}

textarea::before {
  content: '• ';
  display: inline-block;
}


.example-margin {
  width: 250px;
}

mat-form-field {
  align-items: center;
  justify-content: center;
  display: block;
}

mat-label .centered-label {
  text-align: center;
    display: block;
    justify-content: center;
    margin-left: 20px;
}

.centered-label {
  text-align: center;
  display: block;
  justify-content: center;
}

h1 {
  text-align: center;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid silver;
  /*background-color: rgb(232, 0, 0);*/
  background-color: darkgoldenrod;
  color: white;
  padding-top: 15px;
  border-radius: 10px;

}

.diff_radio {
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    display: inline-block;
    padding: 2px;
    padding-top: 10px;
    text-align: center;
}

.diff_radio, .diff_checkbox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.diff_radio label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    align-items: center;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 120px;
    font-size: 20px;
}
.diff_radio input[type="radio"] {
    display: none;

}
.diff_radio input[type="radio"]:checked + label {
    background: black;
    color: white;
    border: 1px solid rgba(0,0,0,.1);
}




.diff_radio input[type="checkbox"] {
  display: none;

}
.diff_radio input[type="checkbox"]:checked + label {
  background: darkgoldenrod;
  color: white;
  border: 1px solid rgba(0,0,0,.1);
}





.diff_radio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Image_rcp label {
  color: white;
}

.ingr_btn {
  width: -webkit-fill-available;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}

form {
  height: min-content;
  width: auto;
  background: rgb(41, 41, 41);
  border-radius: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  position:relative;
}
.example-container input{
 position: absolute; 
 width: 100%;
}
.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 200px; /* Set a maximum height for the list */
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}