


.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Set grid layout to automatically adjust columns */
  gap: 10px; /* Adjust gap between columns */
  padding-bottom: 10px;
}

.input-container {
  padding-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between; /* Ensure even spacing between items in a row */
}

.column {
  flex: 1; /* Each column takes up equal space */
  max-width: max-content; /* Set max-width for each column */
}



.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid darkgoldenrod;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: darkgoldenrod;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.column label {
  color: black;
}
