<body>
  <img id="backgroundos" src="../../assets/backgroundos_recipes.png">
  <!-- <img id="backgroundos" src="../../assets/Hot-dog.png"> -->
  <div class="center">
    <div class="slogan">
      <h2>"From Your Kitchen to the World"</h2>
    </div>
    <img id="food" src="https://static.vecteezy.com/system/resources/previews/021/333/207/original/white-plate-with-food-isolated-on-a-transparent-background-png.png">
  </div>
  <div class="button-container">
    <button id="check_btn" [routerLink]="['/Recipes']">Check some created recipes</button>
  </div>
</body>
