<body>
  <img id="backgroundos" src="https://img.freepik.com/free-photo/full-frame-folded-black-curtain_23-2147882475.jpg?t=st=1716113341~exp=1716116941~hmac=8837c0bb11b4f7d9d6acea350804aafb045c1206fbecc75bed6903f3bd800503&w=996">
  <div class="center">
    <div class="slogan">
      <h2>"From Your Kitchen to the World"</h2>
    </div>
    <img id="food" src="https://static.vecteezy.com/system/resources/previews/021/333/207/original/white-plate-with-food-isolated-on-a-transparent-background-png.png">
  </div>
  <button></button>
</body>
