img {
    width: 70%;
    height: 600px;
    display: block;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding-right: 10px;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }