<body>
  <!-- <div class="dropdown">
    <button class="dropbtn">Difficulty</button>
    <div class="dropdown-filter">
      <input id="diff" type="checkbox" value="Easy" (click)="filterRecipesByDifficulty('Easy')">
    
      <label for="diff">Easy</label>
      <input id="diff2" type="checkbox" value="Medium" (click)="filterRecipesByDifficulty('Medium')">
    
      <label for="diff2">Medium</label>
      <input id="diff3" type="checkbox" value="Hard" (click)="filterRecipesByDifficulty('Hard')">
    
      <label for="diff3">Hard</label>
      <a (click)="filterRecipesByDifficulty('Easy')">Easy</a>
      <a (click)="filterRecipesByDifficulty('Medium')">Medium</a>
      <a (click)="filterRecipesByDifficulty('Hard')">Hard</a>
      <a (click)="clearFilter()">Clear</a>
    </div>
  </div> -->
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
          <input id="diff" type="checkbox" value="Easy" [ngModel]="easyChecked" (ngModelChange)="easyChecked = $event" (click)="filterRecipesByDifficulty('Easy')">
        
          <label for="diff">Easy</label>
          <input id="diff2" type="checkbox" value="Medium" [ngModel]="mediumChecked" (ngModelChange)="mediumChecked = $event" (click)="filterRecipesByDifficulty('Medium')">
        
          <label for="diff2">Medium</label>
          <input id="diff3" type="checkbox" value="Hard" [ngModel]="hardChecked" (ngModelChange)="hardChecked = $event" (click)="filterRecipesByDifficulty('Hard')">
        
          <label for="diff3">Hard</label>
          <!-- <a (click)="filterRecipesByDifficulty('Easy')">Easy</a>
          <a (click)="filterRecipesByDifficulty('Medium')">Medium</a>
          <a (click)="filterRecipesByDifficulty('Hard')">Hard</a>
          <a (click)="clearFilter()">Clear</a> -->

          <button (click) = "call()">filter</button>
          <button (click) = "clearFilter()">Clear</button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        -Filtration-
      </button>
      
    </div>
  
  </mat-drawer-container>

  
  
  <div class="create">
      <button id="create_link" [routerLink]="['/CreateRecipe']">Create a recipe</button>
    </div>
    
    <div class="recipes-container">
      <mat-card class="recipes-items" *ngFor="let recipe of recipes() | filter : sSearchRecept">
        <mat-card-header>
          <mat-card-title class="recipes-name">{{recipe.name}}</mat-card-title>
          <mat-card-subtitle class="recipes-difficulty">{{recipe.difficulty}}</mat-card-subtitle>
        </mat-card-header>
        
          <img mat-card-image [src]="recipe.imageURL" class="recipes-images" [routerLink]="['/RecipesDetails', recipe.id]"/>
        <mat-card-footer>
          <input id="favourite" type="checkbox">
          <mat-icon id="like">favorite</mat-icon>
        </mat-card-footer>
        
        
      </mat-card>
    </div>
</body>

