<div class="background">
  <img src="https://media.istockphoto.com/id/1129153331/photo/food-for-the-family.jpg?s=612x612&w=0&k=20&c=Kf_Oz3ur1ECW3R9qclOYzUXYfyQQ1wzKwnQUA4ZXB-0=" alt=""/>
    <!-- <div class="black">
      <img src="https://th.bing.com/th/id/R.75b7633177977a276cd781b0e0520a92?rik=EpfN3HQQ7%2fOhcw&riu=http%3a%2f%2fwww.solidbackgrounds.com%2fimages%2f5120x2880%2f5120x2880-black-solid-color-background.jpg&ehk=AqB9SoEXUPu7BGaVH7M32l2%2b1UZ%2foIlkcd8MnplO62E%3d&risl=&pid=ImgRaw&r=0" alt=""/>
    </div> -->
</div>

<div class="dropdown">
  <button class="dropbtn">Difficulty</button>
  <div class="dropdown-filter">
    <input id="diff" type="checkbox" value="Easy" (click)="filterRecipesByDifficulty('Easy')">
  
    <label for="diff">Easy</label>
    <input id="diff2" type="checkbox" value="Medium" (click)="filterRecipesByDifficulty('Medium')">
  
    <label for="diff2">Medium</label>
    <input id="diff3" type="checkbox" value="Hard" (click)="filterRecipesByDifficulty('Hard')">
  
    <label for="diff3">Hard</label>
    <!-- <a (click)="filterRecipesByDifficulty('Easy')">Easy</a>
    <a (click)="filterRecipesByDifficulty('Medium')">Medium</a>
    <a (click)="filterRecipesByDifficulty('Hard')">Hard</a>
    <a (click)="clearFilter()">Clear</a> -->
  </div>
</div>

<button (click) = "call()">filter</button>
<button (click) = "clearFilter()">Clear</button>

<div class="create">
    <button id="create_link" [routerLink]="['/CreateRecipe']">Create a recipe</button>
  </div>
  
  <div class="recipes-container">
    <mat-card class="recipes-items" *ngFor="let recipe of recipes() | filter : sSearchRecept">
      <mat-card-header>
        <mat-card-title class="recipes-name">{{recipe.name}}</mat-card-title>
        <mat-card-subtitle class="recipes-difficulty">{{recipe.difficulty}}</mat-card-subtitle>
      </mat-card-header>
      
        <img mat-card-image [src]="recipe.imageURL" class="recipes-images" [routerLink]="['/RecipesDetails', recipe.id]"/>
      
      
      
    </mat-card>
  </div>