/* .background .black {
position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: -1;
} */
/* * {
  background-color: #ece9e9;
} */

body {
  background-color: #ece9e9;
}

.recipes-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.recipes-items {
    width: 350px;
    background-color:white;
    border-radius: 10px;
    border-width: 10px;
    border-color: white;
    margin: 10px 10px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; */
    border: transparent;
}

.recipes-items:hover {
    border: #efefef 2px solid;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.00);
    cursor: pointer;
}

.recipes-images {
    width: 350px;
    height:290px;
    padding-top: 5px;
}

.recipes-name, .recipes-difficulty {
  color: black;
}



.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  padding-top: 10%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-filter {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  cursor: pointer;
}

  /* Links inside the dropdown */
  .dropdown-filter a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

    /* Change color of dropdown links on hover */
    .dropdown-filter a:hover {
      background-color: black;
      color: #f1f1f1;
    }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-filter {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background: white;
      color: #171A2B;
}

.create {
  text-align: center;
}

#create_link {
  
  background: #fff;
  font-size: 17px;
    width: 10%;
    height: 60px;
    transition: .2s all ease-in-out;
}

#create_link:hover {
  background: #171A2B;
    color: white;
}

#favourite {
  position: relative;
  z-index: 3;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  opacity: 0;
}

#like {
  position: absolute;
  left: 0;
  margin-left: 8px;
}

#favourite:checked + #like {
  color: red;
  transition: 0.2s;
}
